body {
  background: url('../public/images/service.webp') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@media only screen and (max-width: 710px) {
  .logo-nav {
    height: 40px !important;
    padding: 0 10px;
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .logo-nav h4 {
    padding: 0 10px !important;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 500px) {
  .logo-nav {
    height: 20px !important;
    padding: 0 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: -9px;
  }

  .logo-nav img {
    height: 50px !important;
    width: 50px !important;
    margin-bottom: 0px !important;
  }

  .navbar {
    margin-top: -100px !important;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .logo-nav {
    height: 20px !important;
    padding: 0 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: -100px;
  }

  .logo-nav img {
    height: 50px !important;
    width: 50px !important;
    margin-bottom: 0px !important;
  }

  .logo-nav h4 {
    padding: 0 10px !important;
    font-size: 15px !important;
  }

  .form-bg {
    width: 310px;
    height: 400px;
    background-color: #1D1C30;
    border: 2px greenyellow;
    border-radius: 15px;
    margin-left: -90px;
  }

  .homeText {
    margin-top: 400px;
    padding: 0 50px;
  }

  .homeText h4 {
    font-size: 10px !important;
    margin-left: -40px;
  }

  .homeText h1 {
    font-size: 20px !important;
    margin-left: -40px;
  }
}